body {
    margin: 0;
}

.site-title h1 {
    color: black;
    font-size: 24px;
    margin: 0;
    font-style: italic;
    font-size: 40px;
}

.subtitle {
    font-weight: 300;
    color: black;
    font-size: 15px;
    margin: 0;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
 
header {
    background:white;
    padding: 32px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

nav li {
    margin-left: 32px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

h1, h2, h3 {
    margin: 0;
}

section{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.intro{
    display: flex;
    justify-content: center;

}

.intro-section{
    margin-left: 20px;
}

.intro-section h1{
    font-weight: 300;
}

.intro-section p{
    background: #ECF8F9;
    padding: 20px 10px;
    border-radius: 2px;
}

.intro-img{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.section-title strong{
    display: block;
}

.about-me{
    margin-top: 20px;
    background-image: url(./images/services-bg.jpg);
    background-size: cover;
}

.about-me h2{
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight:bolder;
    margin: 0;
}

.section-about-me{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.development{
    margin-top: 0;
    margin-left: 15px;
    color: white;
    font-weight: lighter;
    padding: 30px 0;
}

.my-work{
    text-align: center;
    width: 90%;
    max-width: 900px;
    background-color: #ECF8F9;
    margin-top: 0;
}

.my-work-title{
    padding-top: 40px;
    text-align: center;
    color: #116A7B;
    font-weight:bolder;
    margin: 0;
    
}

.work-done{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.workdone-img{
    margin-left: 10px;
    color: white;
    font-weight: lighter;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 4px;
}

.workdone-img img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.workdone-img p {
    margin-top: 0;
    padding-top: 0;
    color: black;
}

footer{
    text-align: center;
    width: 90%;
    max-width: 900px;
    background-color: #9AC5F4;
    margin:0 auto;
    padding: 40px 0;
    margin-bottom: 20px;
}

footer h2{
    padding-top: 20px;
    text-align: center;
    color: #116A7B;
    font-weight:bolder;
    margin: 0;
}

.footer-main{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.footer-main a{
    padding: 10px 5px;
    text-decoration: none;
    color:black;
    margin-left: 20px;
    background-color: #CBEDD5;
    border-radius: 3px;
}

a:hover{
    color: maroon;
}